.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    z-index: 1000;
}

.floating-button:hover {
    transform: scale(1.1); /* Efeito de hover para melhorar UX */
}

.floating-button-label {
    margin-left: 8px;
    font-size: 14px;
    color: white;
}
